@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gerando arquivo PDF</h1>
    <button id="download-pdf" onclick="gerarPDF()">Gerar PDF</button>
</div>


<script>

    function gerarPDF(){
        $.ajax({
            method: 'POST',
            url: '@Url.Action("GerarPDF")',
            success: function(response){
                var janela = window.open('', '', '');
                janela.document.write(response);
                janela.document.close();
                janela.focus();
                janela.document.title = `arquivo.pdf`;

                setTimeout(function(){
                    janela.print()
                }, 1000);
            },
            error: function(response){
                console.log('error');
                console.log(response);
            }
        });
    }
</script>