@{
    ViewData["Title"] = "Home Page";
}

<h1> Checklist de Aprovação </h1>

<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem; margin: 1rem;">
            <div class="card-body">
                <h5 class="card-title">Descrição da pergunta</h5>
                <p class="card-text">Conteúdo do card</p>
                <input type="radio" name="" id="">
                <label for="">Aprovado</label>
                <br />
                <input type="radio" name="" id="">
                <label for="">Reprovado</label>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin: 1rem;">
            <div class="card-body">
                <h5 class="card-title">Descrição da pergunta</h5>
                <p class="card-text">Conteúdo do card</p>
                <input type="radio" name="" id="">
                <label for="">Aprovado</label>
                <br />
                <input type="radio" name="" id="">
                <label for="">Reprovado</label>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin: 1rem;">
            <div class="card-body">
                <h5 class="card-title">Descrição da pergunta</h5>
                <p class="card-text">Conteúdo do card</p>
                <input type="radio" name="" id="">
                <label for="">Aprovado</label>
                <br />
                <input type="radio" name="" id="">
                <label for="">Reprovado</label>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin: 1rem;">
            <div class="card-body">
                <h5 class="card-title">Descrição da pergunta</h5>
                <p class="card-text">Conteúdo do card</p>
                <input type="radio" name="" id="">
                <label for="">Aprovado</label>
                <br />
                <input type="radio" name="" id="">
                <label for="">Reprovado</label>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin: 1rem;">
            <div class="card-body">
                <h5 class="card-title">Descrição da pergunta</h5>
                <p class="card-text">Conteúdo do card</p>
                <input type="radio" name="" id="">
                <label for="">Aprovado</label>
                <br />
                <input type="radio" name="" id="">
                <label for="">Reprovado</label>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin: 1rem;">
            <div class="card-body">
                <h5 class="card-title">Descrição da pergunta</h5>
                <p class="card-text">Conteúdo do card</p>
                <input type="radio" name="" id="">
                <label for="">Aprovado</label>
                <br />
                <input type="radio" name="" id="">
                <label for="">Reprovado</label>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin: 1rem;">
            <div class="card-body">
                <h5 class="card-title">Descrição da pergunta</h5>
                <p class="card-text">Conteúdo do card</p>
                <input type="radio" name="" id="">
                <label for="">Aprovado</label>
                <br />
                <input type="radio" name="" id="">
                <label for="">Reprovado</label>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin: 1rem;">
            <div class="card-body">
                <h5 class="card-title">Descrição da pergunta</h5>
                <p class="card-text">Conteúdo do card</p>
                <input type="radio" name="" id="">
                <label for="">Aprovado</label>
                <br />
                <input type="radio" name="" id="">
                <label for="">Reprovado</label>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <button id="download-pdf" onclick="gerarPDF()">Gerar PDF</button>
</div>


<script>

    function gerarPDF(){
        $.ajax({
            method: 'POST',
            url: '@Url.Action("GerarPDF")',
            success: function(response){
                var janela = window.open('', '', '');
                janela.document.write(response);
                janela.document.close();
                janela.focus();
                janela.document.title = `arquivo.pdf`;

                setTimeout(function(){
                    janela.print()
                }, 1000);
            },
            error: function(response){
                console.log('error');
                console.log(response);
            }
        });
    }
</script>