@using HTML_Tag_Helper.Models
@model SportModel
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Index" method="post">
    <div class="row">
        <h2>Qual o seu esporte favorito?</h1>
        <input name="Name" type="text">
        <span asp-validation-for="Name" class="text-danger"></span>

        <h2>A quantos anos você pratica?</h1>
        <br />
        <input name="Years" type="number">
        <span asp-validation-for="Years" class="text-danger"></span>

        <h2>Pretende participar do torneio esse ano?</h2>
        <input type="radio">
        
    </div>
    <br />
    <input type="submit" value="Enviar">

    <input type="hidden" name="Name" />
    <input type="hidden" name="Years" />
</form>