@{
    ViewData["Title"] = "Home Page";
}
@model PedidoModel;

<h1> Lista de pedidos </h1>


<form asp-action="EnviarPedido" asp-controller="Home" method="post">
    <div>
        <label for="pedido">Selecione um pedido</label>
        <select asp-for="@Model.Pedido" onchange="obterFormasPagamento()" name="pedido" id="pedido">
            <option value="Pizza">Pizza</option>
            <option value="Esfiha">Esfiha</option>
            <option value="Salgados">Salgados</option>
            <option value="Torta">Torta</option>
        </select>
    </div>

    <div id="formas-pagamento" hidden>
        <label for="pagamento">Formas de pagamento</label>
        <select asp-for="@Model.FormaPagamento" name="pagamento" id="pagamento">
        </select>
    </div>

    <input type="submit" value="Enviar Pedido" />
</form>

<input type="hidden" id="obterFormasPagamento" value='@Url.Action("ObterFormasPagamento", "Home")'>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/main.js" type="text/javascript"></script>